<div class="left-pannel">
    <div class="app_name mt-3 mb-5"><span>Fun</span>stagram</div>
    <div class="item-list home">
        <i class="ri-home-4-line"></i>
        <span>Home</span>
    </div>
    <div class="item-list search">
        <i class="ri-search-line"></i>
        <span>Search</span>
    </div>
    <div class="item-list explore">
        <i class="ri-compass-3-line"></i>
        <span>Explore</span>
    </div>
    <div class="item-list reel">
        <i class="ri-video-line"></i>
        <span>Reel</span>
    </div>
    <div class="item-list message">
        <i class="ri-messenger-line"></i>
        <span>Message</span>
    </div>
    <div class="item-list notification">
        <i class="ri-heart-line"></i>
        <span>Notifications</span>
    </div>
    <div class="item-list create">
        <i class="ri-add-box-line"></i>
        <span>Create</span>
    </div>
    <div class="item-list more">
        <i class="ri-menu-line"></i>
        <span>More</span>
    </div>
    <div class="item-list profile" style="object-fit: cover;object-position: center;">
        <img class="profileImg" style="object-fit: cover;object-position: center; border: 1px solid white;"
             alt="">
        <span>Profile</span>
    </div>
</div>
<div class="action-box" style="display: none;">
    <div class="item saved">
        <i class="ri-bookmark-3-line"></i>
        <div class="a">Saved</div>
    </div>
    <div class="item log-out" style="background-color: brown;">
        <i class="ri-logout-circle-r-line"></i>
        <div class="a">log-out</div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/navigation.js"></script>