<div class="storyContainer">
    <i class="ri-close-fill stopStory"></i>
    <div class="center-box">
        <div class="header">
            <div class="user-d">
                <img class="storyUserCurrentImg" src="/images/uploades/1686446272350.png" alt="">
                <span class="storyUserCurrentUserName">nite_shanagar</span>
            </div>
            <i class="ri-more-2-fill"></i>
        </div>
        <div class="status">
            <div class="staus-position storyCurrentStatus"></div>
        </div>
        <div class="body storyCurrentBody">
            
        </div>
    </div>
</div>