<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat Screen</title>
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
            rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="main msg-class-body">
            <div class="left-nav-bar">
                <div class="brand-name">F</div>
                <div class="item home"><i class="ri-home-4-line"></i></div>
                <div class="item search"><i class="ri-search-line"></i></div>
                <div class="item explore"><i class="ri-compass-3-line"></i></div>
                <div class="item reel"><i class="ri-video-line"></i></div>
                <div class="item active message"><i class="ri-messenger-line"></i></div>
                <div class="item notification"><i class="ri-heart-line"></i></div>
                <div class="item create"><i class="ri-add-box-line"></i></div>
                <div class="item more"><i class="ri-menu-line"></i></div>
                <div class="item profile"><img class="profileImg"
                        style="object-fit: cover;object-position: center; border: 1px solid white;"
                        alt></div>
            </div>
            <div class="all_users_box">
                <div class="user_d">
                    <div class="profileUser"></div>
                    <i class="ri-edit-2-fill"></i>
                </div>
                <div class="all_users_box_semi">
                    <div class="users">
                        <div class="user">
                            <div class="user_dd">
                                <img class="profileImg"
                                    style="object-fit: cover;object-position: center; border: 1px solid white;"
                                    alt>
                                <div class="user_info">
                                    <h5>nite_shnagar</h5>
                                    <span>Typing...</span>
                                </div>
                            </div>
                            <div class="notification">1</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-container">
                <div class="header">
                    <div class="user_dd">
                        <img class="profileImg"
                            style="object-fit: cover;object-position: center; border: 1px solid white;"
                            alt>
                        <div class="user-info">
                            <h5>nite_shnagar</h5>
                            <span>Online</span>
                        </div>
                    </div>
                    <div class="icons">
                        <i class="ri-phone-line"></i>
                        <i class="ri-vidicon-line"></i>
                        <i class="ri-information-line"></i>
                    </div>
                </div>
                <div class="body">
                    <div class="body-semi msg-body-d">
                        <div class="sent">Hi</div>
                        <div class="recive">Hello</div>
                    </div>
                </div>
                <div class="footer">
                    <div class="input">
                        <input class="msgInput" type="text"
                            placeholder="Type a message...">
                    </div>
                    <div class="btn">
                        <i class="ri-emoji-sticker-fill"></i>
                        <i class="ri-send-plane-fill"></i>
                    </div>
                </div>
            </div>
            <div class="icons-box">
                <div class="semi">
                    <div class="icon">&#10084;</div>
                    <div class="icon">&#10085;</div>
                    <div class="icon">&#10086;</div>
                    <div class="icon">&#9785;</div>
                    <div class="icon">&#9786;</div>
                    <div class="icon">&#9787;</div>
                    <div class="icon">&phone;</div>
                    <div class="icon">&#9743;</div>
                    <div class="icon">&#9752;</div>
                    <div class="icon">&#9754;</div>
                    <div class="icon">&#9755;</div>
                    <div class="icon">&#9756;</div>
                    <div class="icon">&#9757;</div>
                    <div class="icon">&#9760;</div>
                    <div class="icon">&#9762;</div>
                    <div class="icon">&#9763;</div>
                    <div class="icon">&#9764;</div>
                    <div class="icon">&#9765;</div>
                    <div class="icon">&#9766;</div>
                    <div class="icon">&#9770;</div>
                    <div class="icon">&#9771;</div>
                    <div class="icon">&#9772;</div>
                    <div class="icon">&#9775;</div>
                    <div class="icon">&#9784;</div>
                    <div class="icon">&#9788;</div>
                    <div class="icon">&#9789;</div>
                    <div class="icon">&#9790;</div>
                    <div class="icon">&#9791;</div>
                    <div class="icon">&#9792;</div>
                    <div class="icon">&#9793;</div>
                    <div class="icon">&#9812;</div>
                    <div class="icon">&#9813;</div>
                    <div class="icon">&#9814;</div>
                    <div class="icon">&#9815;</div>
                    <div class="icon">&#9816;</div>
                    <div class="icon">&#9817;</div>
                    <div class="icon">&#9818;</div>
                    <div class="icon">&#9819;</div>
                    <div class="icon">&#9820;</div>
                    <div class="icon">&#9821;</div>
                    <div class="icon">&#9822;</div>
                    <div class="icon">&#9823;</div>
                    <div class="icon">&spades;</div>
                    <div class="icon">&#9825;</div>
                    <div class="icon">&#9826;</div>
                    <div class="icon">&clubs;</div>
                    <div class="icon">&#9828;</div>
                    <div class="icon">&#9829;</div>
                    <div class="icon">&diams;</div>
                    <div class="icon">&#9831;</div>
                    <div class="icon">&#9832;</div>
                    <div class="icon">&sung;</div>
                    <div class="icon">&#9835;</div>
                    <div class="icon">&#9840;</div>
                    <div class="icon">&#9842;</div>
                    <div class="icon">&#9844;</div>
                    <div class="icon">&#9850;</div>
                    <div class="icon">&#9854;</div>
                    <div class="icon">&#9872;</div>
                    <div class="icon">&#9873;</div>
                    <div class="icon">&#9874;</div>
                    <div class="icon">&#9876;</div>
                    <div class="icon">&#9877;</div>
                    <div class="icon">&#9878;</div>
                    <div class="icon">&#9879;</div>
                    <div class="icon">&#9880;</div>
                    <div class="icon">&#9881;</div>
                    <div class="icon">&#9882;</div>
                    <div class="icon">&#9883;</div>
                    <div class="icon">&#9884;</div>
                    <div class="icon">&#9885;</div>
                    <div class="icon">&#9886;</div>
                    <div class="icon">&#9887;</div>
                    <div class="icon">&#9888;</div>
                    <div class="icon">&#9889;</div>
                    <div class="icon">&#9890;</div>
                    <div class="icon">&#9891;</div>
                    <div class="icon">&#9892;</div>
                    <div class="icon">&#9893;</div>
                    <div class="icon">&#9894;</div>
                    <div class="icon">&#9895;</div>
                    <div class="icon">&#9896;</div>
                    <div class="icon">&#9897;</div>
                    <div class="icon">&#9898;</div>
                    <div class="icon">&#9899;</div>
                    <div class="icon">&#9900;</div>
                    <div class="icon">&#9901;</div>
                    <div class="icon">&#9902;</div>
                    <div class="icon">&#9903;</div>
                    <div class="icon">&#9904;</div>
                    <div class="icon">&#9905;</div>
                    <div class="icon">&#9906;</div>
                    <div class="icon">&#9907;</div>
                    <div class="icon">&#9908;</div>
                    <div class="icon">&#9909;</div>
                    <div class="icon">&#9910;</div>
                    <div class="icon">&#9911;</div>
                    <div class="icon">&#9912;</div>
                    <div class="icon">&#9913;</div>
                    <div class="icon">&#9914;</div>
                    <div class="icon">&#9915;</div>
                    <div class="icon">&#9916;</div>
                    <div class="icon">&#9917;</div>
                    <div class="icon">&#9918;</div>
                    <div class="icon">&#9919;</div>
                    <div class="icon">&#9920;</div>
                    <div class="icon">&#9921;</div>
                    <div class="icon">&#9922;</div>
                    <div class="icon">&#9923;</div>
                    <div class="icon">&#9924;</div>
                    <div class="icon">&#9925;</div>
                    <div class="icon">&#9926;</div>
                    <div class="icon">&#9927;</div>
                    <div class="icon">&#9928;</div>
                    <div class="icon">&#9929;</div>
                    <div class="icon">&#9930;</div>
                    <div class="icon">&#9931;</div>
                    <div class="icon">&#9932;</div>
                    <div class="icon">&#9933;</div>
                    <div class="icon">&#9934;</div>
                    <div class="icon">&#9935;</div>
                    <div class="icon">&#9936;</div>
                    <div class="icon">&#9937;</div>
                    <div class="icon">&#9938;</div>
                    <div class="icon">&#9939;</div>
                    <div class="icon">&#9940;</div>
                </div>
            </div>
            <div class="online-users">Online Users :- <span class="online-u"></span></div>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"
            integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            var socket = io();

            var emoji_btn = document.querySelector('.ri-emoji-sticker-fill');
            var icon_box = document.querySelector('.icons-box');
            var close_btn = document.querySelector('.ri-close-line');
            var msgInput = document.querySelector('.msgInput');
            var sentBtn = document.querySelector('.ri-send-plane-fill');
            var msg_body_d = document.querySelector('.msg-body-d');
            var onlineUsers = document.querySelector('.online-u');
            var icon = document.querySelectorAll('.icon');

            sentBtn.addEventListener('click',function(){
                if(msgInput.value.trim().length>0){
                    socket.emit('recivedMsg',msgInput.value);
                    msgInput.value = '';
                    emojiBoxClose();
                }
            });
            window.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    if(msgInput.value.trim().length>0){
                        socket.emit('recivedMsg',msgInput.value);
                        msgInput.value = '';
                        emojiBoxClose();
                    }
                }
            });

            socket.on('backendMsg',function(data){
                msg_body_d.innerHTML += `<div class="recive">${data}</div>`;
            });

            socket.on('onlineUsers',(data)=>{
                onlineUsers.innerHTML = ` ${data}`;
            });

            // footer action buttons
            let emojiOpend = false;
            emoji_btn.addEventListener('click', () => {

                if(emojiOpend){
                    emojiBoxClose();
                }else{
                    emojiBoxOpen();
                }

            });

            function emojiBoxOpen(){
                icon_box.style.display = 'initial';
                emoji_btn.classList.replace('ri-emoji-sticker-fill', 'ri-close-line');
                emojiOpend = true;
            }

            function emojiBoxClose(){
                icon_box.style.display = 'none';
                emoji_btn.classList.replace('ri-close-line', 'ri-emoji-sticker-fill');
                emojiOpend = false;
            }

            icon.forEach((i)=>{
                i.addEventListener('click',(e)=>{
                    msgInput.value += ` ${e.target.innerHTML} `; 
                    msgInput.focus();
                })
            })

        </script>
        <script src="/javascripts/navigation.js"></script>
        <% include ./partials/footer.ejs %>