<% include ./partials/header.ejs %>
  <div class="container p-5">
    <div class="container p-5 mt-3 pb-2">
      <div class="container d-flex" style="background-color: #679B8D; height: 60vh; border-radius: 10px; align-items: center;justify-content:space-between;">
        <div class="container d-flex" style="align-items: center;justify-content: center;">
          <img src="./images/3d-casual-life-fingerprint-blockchain.png" alt="">
        </div>
        <div class="container d-flex" style="align-items: center;justify-content: center;">
          <form action="/login" method="post" class="d-flex" style="flex-direction: column;justify-content: center;">
            <label class="text-white mb-1"  for="username">User_Name</label>
            <div class="box-input" style="max-width: 30vw;">
              <input class="form-control" name="username" type="text">
            </div>
            <br>
            <label class="text-white mb-1" for="password">Password</label> 
            <div class="box-input" style="max-width: 30vw;">
              <input class="form-control" name="password" type="text">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Log-In</button>
            <a href="./register" class="text-white mt-2">Register </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% include ./partials/footer.ejs %>